<div class="container pt-4">
    <div class="row">
        <div class="col text-center">
            <img src="/img/5.png" alt="zidane abbas" width="120px" class="img-thumbnail rounded-pill">
            <h1 class="display-4">zidane abbas</h1>
            <p class="lead">Learning person</p>
        </div>
    </div>
</div>