<h1>Halaman Home</h1>
<h3>Halo <%= nama %></h3>

<h4>Daftar Mahasiswa</h4>

<% if (mahasiswa.length == 0) { %>
<p>Data mahasiswa masih kosong</p>
<% } else {%>
<% mahasiswa.forEach(mhs => { %>
<ul>
    <li>Nama : <%= mhs.nama %></li>
    <li>Umur : <%= mhs.umur %> </li>
    <li>Email : <%= mhs.email %> </li>
</ul>
<% }) %>
<% } %>